# Ignore contents of bin folder
/bin/*
/bin/debug/'BON DE LIVRAISON'
/bin/debug/DMRproduction
/bin/debug/factures

# But allow Git to traverse subdirectories
!/bin/*/


# Then keep specific file types
!/bin/**/*.xlsx
!/bin/**/*.docx
!/bin/**/*.doc
# Ignore obj folder completely
/obj/

# Visual Studio files
*.suo
*.user
*.userosscache  
*.sln.docstates
.vs/

# Packages folder
/packages/
*.nupkg