
/****** Object:  Database [fdstock]    Script Date: 30/11/2025 14:29:07 ******/
CREATE DATABASE [fdstock]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'fdstock', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\fdstock.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'fdstock_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\fdstock_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [fdstock].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [fdstock]
GO
/****** Object:  User [rachiddm]    Script Date: 30/11/2025 14:29:08 ******/
CREATE USER [rachiddm] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[db_accessadmin]
GO
/****** Object:  User [drissberdai]    Script Date: 30/11/2025 14:29:08 ******/
CREATE USER [drissberdai] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [admin]    Script Date: 30/11/2025 14:29:08 ******/
CREATE USER [admin] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[article]    Script Date: 30/11/2025 14:29:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[article](
	[n_article] [int] IDENTITY(1,1) NOT NULL,
	[nom_article] [nchar](100) NULL,
	[color] [nchar](50) NULL,
	[size] [nchar](20) NULL,
 CONSTRAINT [PK_article] PRIMARY KEY CLUSTERED 
(
	[n_article] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[caisse]    Script Date: 30/11/2025 14:29:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[caisse](
	[montant] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cheque]    Script Date: 30/11/2025 14:29:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cheque](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[n° entrree] [int] NOT NULL,
	[nombreCheque] [int] NULL,
	[n°cheque] [nchar](200) NOT NULL,
	[montant] [float] NULL,
	[observation] [nchar](255) NULL,
	[date versement] [date] NULL,
	[etat paiement] [int] NULL,
 CONSTRAINT [PK_cheque_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chequeCaisse]    Script Date: 30/11/2025 14:29:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chequeCaisse](
	[montant] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[client]    Script Date: 30/11/2025 14:29:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[client](
	[n° client] [int] IDENTITY(1,1) NOT NULL,
	[denomination] [varchar](120) NULL,
	[responsable] [varchar](120) NULL,
	[n° ice] [varchar](120) NULL,
	[n° telephone] [varchar](120) NULL,
	[email] [varchar](120) NULL,
	[siege social] [varchar](250) NULL,
	[ville] [varchar](120) NULL,
PRIMARY KEY CLUSTERED 
(
	[n° client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[composant]    Script Date: 30/11/2025 14:29:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[composant](
	[n° article] [int] IDENTITY(1,1) NOT NULL,
	[type article] [nchar](120) NULL,
	[color] [nchar](50) NULL,
	[reference] [nchar](10) NULL,
	[nom article] [nchar](120) NULL,
	[stock] [nchar](120) NULL,
	[prix achath] [float] NULL,
	[tva] [int] NULL,
 CONSTRAINT [PK_composant] PRIMARY KEY CLUSTERED 
(
	[n° article] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[connexion]    Script Date: 30/11/2025 14:29:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[connexion](
	[login] [varchar](50) NOT NULL,
	[motpasse] [varchar](50) NULL,
	[type] [nchar](50) NULL,
 CONSTRAINT [PK_connexion] PRIMARY KEY CLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[consomationMachine]    Script Date: 30/11/2025 14:29:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[consomationMachine](
	[nConsomatio] [int] IDENTITY(1,1) NOT NULL,
	[nMachine] [nchar](50) NULL,
	[nomComposant] [nchar](100) NULL,
	[qte] [float] NULL,
	[date] [datetime] NULL,
	[entreePar] [nchar](100) NULL,
 CONSTRAINT [PK_consomationMachine] PRIMARY KEY CLUSTERED 
(
	[nConsomatio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dcomposant]    Script Date: 30/11/2025 14:29:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dcomposant](
	[nsm] [int] NOT NULL,
	[n_article] [int] NOT NULL,
	[qte] [float] NULL,
 CONSTRAINT [PK_dcomposant] PRIMARY KEY CLUSTERED 
(
	[nsm] ASC,
	[n_article] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dentree]    Script Date: 30/11/2025 14:29:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dentree](
	[n° entre] [int] NOT NULL,
	[n° produit] [int] NOT NULL,
	[quantite] [int] NULL,
 CONSTRAINT [PK__dentree__ED17EF4CA6CFDC99] PRIMARY KEY CLUSTERED 
(
	[n° entre] ASC,
	[n° produit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dentreeg]    Script Date: 30/11/2025 14:29:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dentreeg](
	[n° entre] [int] NOT NULL,
	[n° article] [int] NOT NULL,
	[nFourn] [int] NULL,
	[quantite] [float] NULL,
	[prix achatht] [float] NULL,
 CONSTRAINT [PK_dentreeg] PRIMARY KEY CLUSTERED 
(
	[n° entre] ASC,
	[n° article] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dmachine]    Script Date: 30/11/2025 14:29:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dmachine](
	[nsm] [int] IDENTITY(1,1) NOT NULL,
	[n_machine] [nchar](50) NOT NULL,
	[nom_article] [nchar](100) NULL,
	[color] [nchar](50) NULL,
	[size] [nchar](20) NULL,
	[date_hour] [smalldatetime] NULL,
 CONSTRAINT [PK_dmachine] PRIMARY KEY CLUSTERED 
(
	[nsm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dpersonel]    Script Date: 30/11/2025 14:29:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dpersonel](
	[nom_comp] [nchar](100) NULL,
	[post] [nchar](50) NULL,
	[presence] [nchar](20) NULL,
	[objectif] [int] NULL,
	[heursobj] [nchar](100) NULL,
	[dhp] [smalldatetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dsortie_bon]    Script Date: 30/11/2025 14:29:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dsortie_bon](
	[n° sortieb] [int] NOT NULL,
	[n° produit] [nchar](100) NOT NULL,
	[quantiteb] [int] NULL,
	[qte_collisb] [int] NULL,
	[prixvb] [float] NULL,
 CONSTRAINT [PK_dsortie_bon] PRIMARY KEY CLUSTERED 
(
	[n° sortieb] ASC,
	[n° produit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dsortie_facture]    Script Date: 30/11/2025 14:29:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dsortie_facture](
	[n° sortief] [int] NOT NULL,
	[n° produit] [nchar](120) NOT NULL,
	[quantitef] [int] NULL,
	[qte_collisf] [int] NULL,
	[prixvf] [float] NULL,
 CONSTRAINT [PK_dsortie_facture] PRIMARY KEY CLUSTERED 
(
	[n° sortief] ASC,
	[n° produit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dsortieg]    Script Date: 30/11/2025 14:29:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dsortieg](
	[nSortie] [int] NOT NULL,
	[nComposant] [int] NOT NULL,
	[quantite] [float] NULL,
 CONSTRAINT [PK_dsortieg] PRIMARY KEY CLUSTERED 
(
	[nSortie] ASC,
	[nComposant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ecaisse]    Script Date: 30/11/2025 14:29:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ecaisse](
	[n_entree] [int] IDENTITY(1,1) NOT NULL,
	[libelle] [nchar](500) NOT NULL,
	[prix] [float] NOT NULL,
	[dh] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_ecaisse] PRIMARY KEY CLUSTERED 
(
	[n_entree] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[echquecaisse]    Script Date: 30/11/2025 14:29:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[echquecaisse](
	[n_entree] [int] IDENTITY(1,1) NOT NULL,
	[libelle] [nchar](500) NOT NULL,
	[n_cheque] [nchar](100) NOT NULL,
	[prix] [float] NOT NULL,
	[dhc] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_echquecaisse] PRIMARY KEY CLUSTERED 
(
	[n_entree] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[entree]    Script Date: 30/11/2025 14:29:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[entree](
	[n° entree] [int] IDENTITY(1,1) NOT NULL,
	[date entree] [date] NULL,
	[epe] [nchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[n° entree] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[entreeg]    Script Date: 30/11/2025 14:29:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[entreeg](
	[n°entree] [int] IDENTITY(1,1) NOT NULL,
	[type dentree] [nchar](30) NULL,
	[type piece] [nchar](30) NULL,
	[n° piece] [nchar](50) NULL,
	[date entree] [date] NULL,
	[entree par] [nchar](50) NULL,
 CONSTRAINT [PK_entreeg] PRIMARY KEY CLUSTERED 
(
	[n°entree] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fournisseur]    Script Date: 30/11/2025 14:29:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fournisseur](
	[n° fournisseur] [int] IDENTITY(1,1) NOT NULL,
	[denomination] [varchar](120) NULL,
	[responsable] [varchar](120) NULL,
	[n° ice] [varchar](120) NULL,
	[n° telephone] [varchar](120) NULL,
	[email] [varchar](120) NULL,
	[siege social] [varchar](250) NULL,
	[ville] [varchar](120) NULL,
PRIMARY KEY CLUSTERED 
(
	[n° fournisseur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[machine]    Script Date: 30/11/2025 14:29:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[machine](
	[nm] [int] IDENTITY(1,1) NOT NULL,
	[n_machine] [nchar](50) NOT NULL,
	[reference_cylindre] [nchar](100) NULL,
	[aiguille] [int] NULL,
	[model_machine] [nchar](100) NULL,
 CONSTRAINT [PK_machine] PRIMARY KEY CLUSTERED 
(
	[nm] ASC,
	[n_machine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[objectif_machine]    Script Date: 30/11/2025 14:29:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[objectif_machine](
	[nom] [int] IDENTITY(1,1) NOT NULL,
	[n_machine] [nchar](50) NULL,
	[objectif_pchoix] [int] NULL,
	[objectif_dchoix] [int] NULL,
	[hours] [nchar](100) NULL,
	[date] [date] NULL,
 CONSTRAINT [PK_objectif_machine] PRIMARY KEY CLUSTERED 
(
	[nom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personel]    Script Date: 30/11/2025 14:29:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personel](
	[n_pers] [int] IDENTITY(1,1) NOT NULL,
	[nom_comp] [nchar](100) NOT NULL,
 CONSTRAINT [PK_personel] PRIMARY KEY CLUSTERED 
(
	[n_pers] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[produits]    Script Date: 30/11/2025 14:29:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[produits](
	[n° produit] [int] IDENTITY(1,1) NOT NULL,
	[n° reference] [varchar](120) NULL,
	[nom produit] [varchar](120) NOT NULL,
	[colour] [nchar](50) NULL,
	[taille] [nchar](50) NULL,
	[stock] [varchar](120) NULL,
	[prix venteht] [float] NULL,
	[taux tva] [float] NULL,
 CONSTRAINT [PK__produits__C6E9356BDC4D734D] PRIMARY KEY CLUSTERED 
(
	[n° produit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reglement]    Script Date: 30/11/2025 14:29:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reglement](
	[n° fournisseur] [int] NULL,
	[n° cheque] [nchar](200) NULL,
	[date reglement] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[scaisse]    Script Date: 30/11/2025 14:29:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[scaisse](
	[n_sortie] [int] IDENTITY(1,1) NOT NULL,
	[libelle] [nchar](500) NOT NULL,
	[prix] [float] NOT NULL,
	[dh] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_scaisse] PRIMARY KEY CLUSTERED 
(
	[n_sortie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[schequecaisse]    Script Date: 30/11/2025 14:29:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[schequecaisse](
	[n_sortie] [int] IDENTITY(1,1) NOT NULL,
	[libelle] [nchar](500) NOT NULL,
	[n_cheque] [nchar](100) NOT NULL,
	[prix] [float] NOT NULL,
	[dhc] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_schquecaisse] PRIMARY KEY CLUSTERED 
(
	[n_sortie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sortie_bon]    Script Date: 30/11/2025 14:29:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sortie_bon](
	[n° sortieb] [int] IDENTITY(1,1) NOT NULL,
	[type piece] [varchar](30) NULL,
	[nc] [nchar](100) NOT NULL,
	[date sortie] [date] NULL,
	[mdpb] [nchar](50) NULL,
	[dp] [nchar](50) NULL,
	[sp] [nchar](50) NULL,
	[nb] [nchar](100) NULL,
	[regb] [int] NULL,
 CONSTRAINT [PK_sortie_bon] PRIMARY KEY CLUSTERED 
(
	[n° sortieb] ASC,
	[nc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sortie_facture]    Script Date: 30/11/2025 14:29:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sortie_facture](
	[n° sortief] [int] IDENTITY(1,1) NOT NULL,
	[type piece] [varchar](30) NULL,
	[nc] [nchar](100) NOT NULL,
	[date sortief] [date] NULL,
	[mdp] [nchar](50) NULL,
	[dp] [nchar](50) NULL,
	[sp] [nchar](50) NULL,
	[nf] [nchar](100) NULL,
	[regf] [int] NULL,
 CONSTRAINT [PK_sortie_facture] PRIMARY KEY CLUSTERED 
(
	[n° sortief] ASC,
	[nc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sortieg]    Script Date: 30/11/2025 14:29:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sortieg](
	[nSortie] [int] IDENTITY(1,1) NOT NULL,
	[typeComposant] [nchar](30) NULL,
	[dateSortie] [datetime] NULL,
	[sortiePar] [nchar](50) NULL,
 CONSTRAINT [PK_sortieg] PRIMARY KEY CLUSTERED 
(
	[nSortie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[caisse] ADD  CONSTRAINT [DF_caisse_montant]  DEFAULT ((0)) FOR [montant]
GO
ALTER TABLE [dbo].[cheque] ADD  CONSTRAINT [DF_cheque_etat paiement]  DEFAULT ((1)) FOR [etat paiement]
GO
GO
ALTER TABLE dentreeg
ADD boxNumber nchar(20);
